{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Login" %}</h1>
<form action="#" method="post">
    <table>
        {{form.as_table}}
        <tr>
            <td colspan="2" style="text-align: right">
                <input type="submit" value="{% trans 'Login' %}" />
            </td>
        </tr>
    </table>
    {% csrf_token %}
</form>
(Password forgotten? <a href="{% url 'django.contrib.auth.views.password_reset' %}">{% trans "Reset your password" %}</a>)
{% endblock %}
